<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="/home.css" />

    <body>
     <table>
     <a href="/movies?order=year">Sort by Year</a><br> <a href="/movies?order=rating">Sort by Rating</a>
      <th>Movie</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Genre</th>
      <th>Studio</th>
      <% if @order == "year" %>
        <% @year_movies.each do |movie| %>
          <tr>
            <td><a href="/movies/<%= movie["id"] %>"><%= movie["movie"] %></a></td>
            <td><%= movie["year"] %></td>
            <td><%= movie["rating"] %></td>
            <td><%= movie["genre"] %></td>
            <td><%= movie["studio"] %></td>
          </tr>
        <% end %>
      <% elsif @order == "rating" %>
        <% @rating_movies.each do |movie| %>
          <tr>
           <td><a href="/movies/<%= movie["id"] %>"><%= movie["movie"] %></a></td>
           <td><%= movie["year"] %></td>
           <td><%= movie["rating"] %></td>
           <td><%= movie["genre"] %></td>
           <td><%= movie["studio"] %></td>
          </tr>
        <% end %>
      <% else %>
        <% @movies.each do |movie| %>
          <tr>
           <td><a href="/movies/<%= movie["id"] %>"><%= movie["movie"] %></a></td>
           <td><%= movie["year"] %></td>
           <td><%= movie["rating"] %></td>
           <td><%= movie["genre"] %></td>
           <td><%= movie["studio"] %></td>
          </tr>
        <% end %>
      <% end %>

     </table>
    </body>

</html>
