<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="/home.css" />

    <body>
    <h1><%= @movies_id[0]["movie"] %></h1>

    <h2>Details:</h2>

    <li>Genre - <%= @movies_id[0]["genre"] %></li>
    <li>Studio - <%= @movies_id[0]["studio"] %></li>
    <% @movies_id.each do |movie| %>
    <li>Actors - <a href="/actors/<%= movie["actor_id"] %>"><%= movie["actor"] %></a>  <%= movie["role"] %></li>
    <% end %>


    </body>

</html>
